---
---

@import url("//fonts.googleapis.com/css?family=Sacramento");
@import url("//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:300,700&subset=latin,greek");

body {
  font-family: 'Roboto', sans-serif;
  background: url("/images/bg.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-color: #000;
  color: #000;
}

.site-header,
.site-footer {
  font: 400 6em/1 'Sacramento', sans-serif;
  text-align: center;
  color: #FFF;
  padding: 100px 30px;
  text-shadow: 0 1px 1px #000;
  word-spacing: -20px;
}

.site-footer + div {
  color: #FFF;
  text-align: center;
  margin: 0 auto 100px;
  max-width: 600px;
  padding: 0 30px
}

.index {
  margin-bottom: 100px;
  @media (min-width: 768px) {
    background: url("/images/heart.svg") 90% 50% no-repeat rgba(#000, .6);
    padding: 50px 0;
    .list-group {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  a.list-group-item {
    background: none;
    color: #FFF;
    border: 0;
    padding: 0;
    &:hover, &:focus {
      color: #BF0B24;
      outline: none;
    }
    @media (max-width: 768px) {
      background: rgba(#000, .8);
      padding: 15px;
      margin-bottom: 1px;
    }
    @media (min-width: 768px) {
      text-align: right;
      &:nth-child(n + 23) {
        text-align: left;
      }
    }
  }
}


.nowrap {
  white-space: nowrap;
}

.card {
  border: 0;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
}

.card-title {
  margin: 0;
  font: 300 1.8em/1 'Roboto Condensed', sans-serif;
}

.list-group-item-title {
  border: 0;
  font: 700 1.2em/1 'Roboto', sans-serif;
}

.ingredients {
  margin: 10px 0 20px;
}

.ingredient {
  padding: .1rem 1.25rem;
  &:nth-child(even) {
    background: rgba(darkred, .07);
  }
  input {
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
}

.step {
  &:nth-child(even) {
    background: rgba(darkred, .14);
  }
}

.ingredient,.step {
  border: 0;
  color: #000 !important;
  &:hover {
    background: #000 !important;
    color: #FFF !important;
  }
  &:focus {
    background: #BF0B24 !important;
    color: #FFF !important;
    outline: none;
  }
}

@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@mixin image($filename, $height) {
  margin-top: $height + 20;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0 - ($height + 20);
    height: $height;
    width: 100%;
    border-radius: 4px;
    background: url("/images/" + $filename) 50% 50%;
    background-size: cover;
  }
}

.recipe {
  position: relative;
  // &:nth-child(3) {
  //   @include image("8571093002_ccca645e3b_z.jpg", 300px);
  // }
  // &:nth-child(9) {
  //   @include image("5886328620_a17cbb9308_z.jpg", 300px);
  // }
  // &:nth-child(15) {
  //   @include image("8242418755_4920a55086_z.jpg", 300px);
  // }
  // &:nth-child(23) {
  //   @include image("9944038444_b7d3319f40_z.jpg", 300px);
  // }
  // &:nth-child(28) {
  //   @include image("11885745326_a079f02233_z.jpg", 350px);
  // }
  // &:nth-child(33) {
  //   @include image("8191392386_7ce4dd2125_z.jpg", 350px);
  // }
  &:nth-child(8) {
    @include image("8277426219_111d2a8530_z.jpg", 350px);
  }
  &:nth-child(38) {
    @include image("5458325252_b8290d8074_z.jpg", 350px);
  }
}
