---
---

@import url("//fonts.googleapis.com/css?family=Niconne");
@import url("//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:300,700&subset=latin,greek");

body {
  font-family: 'Roboto', sans-serif;
  background: url("/images/bg.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-color: #222;
  color: #222;
}

.site-header,
.site-footer {
  font: 400 4em/1 'Niconne', sans-serif;
  text-align: center;
  color: #FFF;
  padding: 100px 30px;
}

.card {
  border: 0;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
}

.card-title {
  margin: 0;
  font: 300 1.8em/1 'Roboto Condensed', sans-serif;
}

.list-group-item {
  strong {
    font: 700 1.2em/1 'Roboto', sans-serif;
  }
}

@media (max-width: 1279px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 1280px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1921px) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
